<!DOCTYPE html>
<html>
<head>
    <title>Error - {{title}}</title>
    <meta name="hapi-swaggered-version" content="{{version}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{routePrefix}}/swagger-ui.css" >
    <link rel="icon" type="image/png" href="{{routePrefix}}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{routePrefix}}/favicon-16x16.png" sizes="16x16" />
</head>

<body class="swagger-section">
    <div id="message-bar" class="swagger-ui-wrap" style="padding: 50px;">
        <h2>Could not fetch endpoint-configuration from hapi-swaggered plugin.</h2>
        <p>May not loaded? Or not present on the same server? </p>
        <p style="margin-top:40px;">You can run hapi-swaggered-ui without the hapi-swaggered plugin by setting the plugins <i>swaggerEndpoint</i> option.</p>
    </div>
</body>
</html>
