<!DOCTYPE html>
<html>
<head>
    <title>Swagger: Error</title>
    <meta name="hapi-swaggered-version" content="{{version}}">
    <link href="{{routePrefix}}/css/typography.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/reset.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/screen.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/reset.css" media="print" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/print.css" media="print" rel="stylesheet" type="text/css"/>
</head>

<body class="swagger-section">
    <div id="message-bar" class="swagger-ui-wrap" style="padding: 50px;">
        <h2>Could not fetch endpoint-configuration from hapi-swaggered plugin.</h2>
        <p>May not loaded? Or not present on the same server? </p>
        <p style="margin-top:40px;">You can run hapi-swaggered-ui without the hapi-swaggered plugin by setting the plugins <i>swaggerEndpoint</i> option.</p>
    </div>
</body>
</html>
